body {
  background-color: #E0E0E0;
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

.navbar {
  background-color: white;
  margin-bottom: 2em;
}

.premium-info, .products {
  background-color: white;
  margin: 2em 0;
  /* MARGIN IS ARBITRARILY SET RIGHT NOW */
}

/* DESKTOP */
/* desktop 1366px */

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.container {
  width: 1306px;
  margin: 0 30px;
}

.nav-left {
  width: 50px;
  height: 50px;
}

.search-input {
  width: 525px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #E0E0E0;
}

.search-btn {
  height: 40px;
}

.account, .orders, .shopping-cart {
  width: 60px;
  height: 80px;
  display: inline;
  font-size: 14px;
  text-align: center;
}

.nav-right {
  list-style-type: none;
  display: inline;
}
/* SEARCH & FILTER */
.filter-container {
  width: 1306px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected-filters, .sort {
  width: 49%;
}

.chip {
  width: 131px;
  height: 32px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}
/* BESTSELLERS CONTAINER */

.bestsellers-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 187px;
  justify-content: space-between;
}

.premium-bestseller, .economy-bestseller {
  width: 49%;
}

.stock-buttons {
  width: 120px;
  height: 40px;
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
}

.stock-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}

.cart-btn {
  width: 152px;
  height: 40px;
  background-color: #FFA500;
  border-radius: 15px;
}

.products {
  height: 80px;
  margin: 5em 0;
  padding: .25em;
}

.load-btn {
  font-size: 18px;
  width: 100%;
  border-radius: 15px;
}

.pb-stock-info img, .products img {
  width: 64px;
  height: 52px;
}

.product-info {
  list-style-type: none;
}

.product-info li {
  display: inline;
}

.product-name {
  text-decoration: underline;
}

/* TABLET */
/*
@media only screen and (max-width: 1024px) {
  .container {
    width: 944px;
    height: 80px;
  }

  .filter-container, .bestsellers-container {
    width: 944px;
  }

  .product-cart-btn {
    width: 77px;
    height: 40px;
  }
} */
